<template>
  <div>
    <ul id="list">List Demo
        <li v-for="item in items" :key="item.array" @click="clickitem(item.no, item.array)">
          {{item.array}}
        </li>
    </ul>
  </div>
</template>

<script>
/* 上方的<li v-for="item in items" :key="item.array"> vue for迴圈 item 取 item 值 : key="下方的item+array(可改no1,不一定要用array)" */
export default {
  name: 'List',
  data: function () {
    return {
      items: [
        { array: 'AAA', no: 1 },
        { array: 'BBB', no: 2 },
        { array: 'CCC', no: 3 },
        { array: 'DDD', no: 4 }]
    }
  },
  methods: {
    /* 因要傳值進來撈上面的Array + no */
    clickitem (no, value) {
      alert(no + ' , ' + value)
    }

  }
}
</script>>
