<template>
  <div>
    <h1>Practice</h1>
    <p>練習項目清單</p>
    <ul>
      <li><router-link to="/">Home</router-link></li>
      <li><router-link to="/counter">Counter</router-link></li>
      <li><router-link to="/search">Search</router-link></li>
      <li><router-link to="/list">ListDemo</router-link></li>
    </ul>
  </div>

</template>
