/* eslint-disable indent */
<template>
  <div>
    <h1>Counter</h1>
    <h3>Counter:{{count}}
    </h3>
    <button v-on:click="add()">加 1</button>
    <button v-on:click="sub()">減 1</button>
    <!-- <ul>
      <li><router-link to="/">Home</router-link></li>
    </ul> -->
  </div>

</template>

<script>
export default {
  data: () => ({
    count: 0
  }),
  methods: {
    add: function () {
      this.count += 1
    },
    sub: function () {
      this.count -= 1
    }
  }
}
</script>
